
.dataTable {
    width: 100%;
    font-weight: normal;
}

    .dataTable tr td:first-child {
        width: 0;
        padding: 3px;
    }

    .dataTable caption {
        text-align: left;
        background: #666666;
        color: #fff;
        padding: 6px;
        font-weight: bold;
    }

    .dataTable thead {
        background: #c4c4c4;
        font-weight: bold;
    }

        .dataTable thead td {
            padding: 3px;
        }

    .dataTable tbody tr:hover {
        background: #c4c4c4 !important;
    }
